# 연습 문제 1

#### 두 개의 데이터프레임을 만들고 merge 명령으로 합친다. 단 데이터프레임은 다음 조건을 만족해야 한다.
#### 1.각각 5 x 5 이상의 크기를 가진다.

In [19]:
df1 = pd.DataFrame({
    'Name' : ['Morning', 'K3', 'K5', 'K8', 'K9'],
    'Segment' : ['Mini', 'Small', 'Mid', 'Sport', 'Large'],
    'Engine' : ['1.0L', '1.6', '2.0', '3.0', '5.0'],
    'Fuel' : ['14km', '18km', '16km', '12km', '10km'],
    'Price' : [1000, 2000, 3000, 4000, 5000]},
    columns = ["Name", "Segment", "Engine", "Fuel", "Price"])
df1

      Name Segment Engine  Fuel  Price
0  Morning    Mini   1.0L  14km   1000
1       K3   Small    1.6  18km   2000
2       K5     Mid    2.0  16km   3000
3       K8   Sport    3.0  12km   4000
4       K9   Large    5.0  10km   5000

In [17]:
df2 = pd.DataFrame({
    '이름' : ['Morning', 'K3', 'K5', 'K8', 'K9'],
    '출시년도' : ['2000', '2005', '2005', '2016', '2010'],
    '연료' : ['휘발유', '경유', '경유', '휘발유', '휘발유'],
    '마력' : [50, 100, 150, 250, 300],
    '탑승인원' : [4, 5, 5, 4, 4]},
    columns = ["이름", "출시년도", "연료", "마력", "탑승인원"])
df2

        이름  출시년도   연료   마력  탑승인원
0  Morning  2000  휘발유   50     4
1       K3  2005   경유  100     5
2       K5  2005   경유  150     5
3       K8  2016  휘발유  250     4
4       K9  2010  휘발유  300     4

#### 2.공통 열을 하나 이상 가진다. 다만 공통 열의 이름은 서로 다르다.

In [21]:
pd.merge(df1, df2, left_on='Name', right_on='이름')

      Name Segment Engine  Fuel  Price       이름  출시년도   연료   마력  탑승인원
0  Morning    Mini   1.0L  14km   1000  Morning  2000  휘발유   50     4
1       K3   Small    1.6  18km   2000       K3  2005   경유  100     5
2       K5     Mid    2.0  16km   3000       K5  2005   경유  150     5
3       K8   Sport    3.0  12km   4000       K8  2016  휘발유  250     4
4       K9   Large    5.0  10km   5000       K9  2010  휘발유  300     4

# 연습 문제 2

#### 어느 회사의 전반기(1월 ~ 6월) 실적을 나타내는 데이터프레임과 후반기(7월 ~ 12월) 실적을 나타내는 데이터프레임을 만든 뒤 합친다. 실적 정보는 "매출", "비용", "이익" 으로 이루어진다. (이익 = 매출 - 비용).

#### 또한 1년간의 총 실적을 마지막 행으로 덧붙인다

##### 전반기 손익(1~6)

In [23]:
profit1 = {'매출' : [1000, 1500, 3000, 4000, 5000, 6000],
        '비용' : [1500, 2000, 2500, 2700, 3000, 3200]}
columns1 = ['매출', '비용']
index1 = ['1월', '2월', '3월', '4월', '5월', '6월']
df1 = pd.DataFrame(profit1, index=index1, columns=columns1)
df1['이익'] = df1['매출'] - df1['비용']
df1

      매출    비용    이익
1월  1000  1500  -500
2월  1500  2000  -500
3월  3000  2500   500
4월  4000  2700  1300
5월  5000  3000  2000
6월  6000  3200  2800

##### 후반기 손익(7~12)

In [27]:
profit2 = {'매출' : [4500, 4000, 5000, 6000, 3000, 2000],
        '비용' : [2800, 2700, 3000, 3200, 2500, 2000]}
columns2 = ['매출', '비용']
index2 = ['7월', '8월', '9월', '10월', '11월', '12월']
df2 = pd.DataFrame(profit2, index=index2, columns=columns2)
df2['이익'] = df2['매출'] - df2['비용']
df2

       매출    비용    이익
7월   4500  2800  1700
8월   4000  2700  1300
9월   5000  3000  2000
10월  6000  3200  2800
11월  3000  2500   500
12월  2000  2000     0

#####  결산(1~12)

In [28]:
df3 = pd.concat([df1, df2])  
df3 = pd.concat([df3, pd.DataFrame({'매출': df3['매출'].sum(), '비용': df3['비용'].sum(), '이익': df3['이익'].sum()}, index = ['총실적'])])
df3

        매출     비용     이익
1월    1000   1500   -500
2월    1500   2000   -500
3월    3000   2500    500
4월    4000   2700   1300
5월    5000   3000   2000
6월    6000   3200   2800
7월    4500   2800   1700
8월    4000   2700   1300
9월    5000   3000   2000
10월   6000   3200   2800
11월   3000   2500    500
12월   2000   2000      0
총실적  45000  31100  13900